<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    @Html.ActionLink("Remote Doctor", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav justify-content-center d-flex flex-fill">
            <li class="nav-item">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })

            </li>
            <li class="nav-item">
                @Html.ActionLink("Doctor", "Doctor", "Home", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-ambulance" style="color: white; font-size: 35px;" aria-hidden="false"></i>
                </a>
            </li>
            <li class="nav-item">
                @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("FAQ", "FAQ", "Home", null, new { @class = "nav-link" })
            </li>
        </ul>
        @*<ul class="nav navbar-nav navbar-right">
            <li><button class="btn btn-primary" onclick="location.href='@Url.Action("Login", "CCordinator")'"><span class="fa fa-user admin-action-icon"></span> Cordinator</button></li>
        </ul>*@
    </div>
</nav>
