@model Doctor.Models.Doctors
<div class="container">
    <div class="row">
        <div class="col-10 pt-md-5">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body ">
                    @{
                        string url;
                        if (Model.DoctorImagePath != null)
                        {
                            url = Model.DoctorImagePath;
                        }
                        else
                        {
                            url = "/Image/user.jpg";
                        }
                    }
                    <img src="@Url.Content(url)" class="mx-auto d-block shadow-lg p-3 mb-5 bg-white rounded"
                         style="height: 150px; width: 150px;" alt="Not Available" />
                    <div class="row text-center">
                        <div class="col">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Name</li>
                                <li class="list-group-item">Date of Birth</li>
                                <li class="list-group-item">Email</li>
                                <li class="list-group-item">Registration No</li>
                                <li class="list-group-item">Degree</li>
                                @*<li class="list-group-item">Department</li>*@
                                <li class="list-group-item">Details</li>
                                <li class="list-group-item">Available time</li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">@Model.DoctorName</li>
                                <li class="list-group-item">@Model.DoctorBirthDate</li>
                                <li class="list-group-item">@Model.DoctorEmail</li>
                                <li class="list-group-item">@Model.RegNo</li>
                                <li class="list-group-item">@Model.DoctorDegree</li>
                                @*<li class="list-group-item">@Model.Department.DeptName</li>*@
                                <li class="list-group-item">@Model.DoctorDetails</li>
                                <li class="list-group-item">@Model.StartTime - @Model.EndTime</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row pt-md-5">
                        <div class="col-md">
                            <input onclick="Getdata(@Model.Id)" type="submit" value="Update Information" class="btn mx-auto d-block btn-outline-success" data-toggle="modal" data-target="#EditeModal" />
                        </div>
                        <div class="col-md">
                            <button class="btn mx-auto d-block btn-outline-danger">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditeModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle">Update Info</h4>
                    <a href="#" data-dismiss="modal" class="close">&times;</a>

                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Update", "Doctor", FormMethod.Post, new { @encType = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(dr => dr.Id, new { @id = "Did" })
                        <div class="form-group">
                            @Html.TextBoxFor(dr => dr.DoctorName, new { @class = "form-control", @placeholder = "Enter name" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(dr => dr.DoctorImagePath)
                            <input type="file" class="form-control-file" id="Imagefile" name="DoctorImagefile" value="@Model.DoctorImagePath">
                            @Html.ValidationMessageFor(dr => dr.DoctorImagefile, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input class="form-control" data-val="true" data-val-date="The field Date Of Birth must be a date." id="BirthDate" name="DoctorBirthDate" placeholder="Date of Birth" type="Date" value="@Model.DoctorBirthDate">
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(dr => dr.DoctorEmail, new { @class = "form-control", @placeholder = "Enter email" })
                        </div>
                        @*<div class="form-group">
                            @Html.TextBoxFor(dr => dr.RegNo, new { @class = "form-control", @placeholder = "Enter Reg No" })
                        </div>*@
                        <div class="form-group">
                            @Html.TextAreaFor(dr => dr.DoctorDegree, new { @class = "form-control", @placeholder = "Details of Degree, Institute and Other specification" })
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(dr => dr.DoctorDetails, new { @class = "form-control", @placeholder = "Details of Specialties, Experience and Expertise" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(dr => dr.StartTime)

                            <div class="row">
                                <div class="col">
                                    @Html.TextBoxFor(dr => dr.StartTime, new { type = "time", @class = "form-control" })
                                    @Html.ValidationMessageFor(dr => dr.StartTime, "", new { @class = "text-danger" })
                                </div>
                                <div class="col">
                                    @Html.TextBoxFor(dr => dr.EndTime, new { type = "time", @class = "form-control" })
                                    @Html.ValidationMessageFor(dr => dr.EndTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-outline-success" type="submit">Update</button>
                    }
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>
