@using System.Runtime.InteropServices
@model IEnumerable<Doctor.Models.Appointment>
<div class="row">
    <div class="col-md p-xl-4 shadow-lg p-3 mb-5 bg-white rounded ml-xl-5 mt-xl-3">
        <h3 class="h3 text-center pb-md-2">LAST 10 APPOINTMENT</h3>
        <table class="table table-hover">
            <tr>
                <th>Doctor Name</th>
                <th>Date & Time</th>
                <th>Problem</th>
                <th>Status</th>
            </tr>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Doctors.DoctorName</td>
                    <td>@m.AppointmentDate @m.AppointmentTime</td>
                    <td>@m.Problem</td>
                    <td>
                        @if (m.Problem == null && m.Status == false && m.AcceptStatus == false)
                        {
                            <span class="badge badge-warning">Pending</span>
                        }
                        else if (m.Problem != null && m.Status == false && m.AcceptStatus == true)
                        {
                            <span class="badge badge-info">Waiting</span>
                        }
                        else if (m.Problem == null && m.AcceptStatus == true)
                        {
                            <button id="motif" class="btn btn-outline-success" onclick="location.href = '@Url.Action("Apointment","CCordinator", new {@id=m.Id})'">Submit</button>
                        }
                        else
                        {
                            <span class="badge badge-success">Success</span>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md  shadow-lg p-3 mb-5 bg-white rounded mt-xl-3 mr-xl-5 ml-xl-3">
        <h1 class="h1 text-center">MAKE NEW APPOINTMENT</h1>
        <a href="@Url.Action("Doctor","CCordinator")"> <img src="~/Image/plus-icon.png" class="img-fluid mx-auto d-block" height="250px" width="250px" /></a>
    </div>
</div>
