@model Doctor.Models.Admin
<div class="SlideBar">
    @{
        var url = Model.ImagePath ?? "~/Image/pro-avatar.png";
    }
    <div class="Profile">
        <img src="@Url.Content(url)" class="mx-auto d-block" />
        <h4>admin</h4>
        <p>@Model.Email</p>
        
    </div>

    <div class="menu">
        <ul>
            <li id="dashboard">
                <span class="pr-md-4">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                </span>Dashboard
            </li>
            <li id="department">
                <span class="pr-md-4">
                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                </span>Departments
            </li>
            <li id="doctor">
                <span class="pr-md-4">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </span>Doctors
            </li>
            <li id="patient">
                <span class="pr-md-4">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </span>Patients
            </li>
            <li id="ccordinator">
                <span class="pr-md-4">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </span>C-Cordinator
            </li>
            @*<li id="treatment">
                <span class="pr-md-4">
                    <i class="fa fa-stethoscope" aria-hidden="true"></i>
                </span>Treatment
            </li>*@
            <li id="transaction">
                <span class="pr-md-4">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </span>Transaction
            </li>
        </ul>
    </div>
    <div class="logout">
        @using (Html.BeginForm("Logout", "Admin", FormMethod.Post))
        {
            <button class="btn btn-danger btn-outline-danger" type="submit">Logout</button>
        }
    </div>
</div>
<div class="containerrr">
    <div class="_nav">
        <div class="Slidetoogle" style="color: black;">
            <svg width="30" height="30">
                <path d="M0,5 30,5" stroke="black" stroke-width="5" />
                <path d="M0,14 30,14" stroke="black" stroke-width="5" />
                <path d="M0,23 30,23" stroke="black" stroke-width="5" />
            </svg>
        </div>

    </div>
    <div class="bodyy">
        <div id="loadPartial"></div>
    </div>
    <div style="height:1000px"></div>

</div>

<script>
    $(document).ready(function () {

        var url = '@Url.Action("Deshboard", "Admin")';
        $("#loadPartial").load(url);

        $(".Slidetoogle").click(function() {
            $(".SlideBar").toggleClass("active");
            $(".containerrr").toggleClass("duck");

        });

        $("#dashboard").click(function () {
            var url= '@Url.Action("Deshboard", "Admin")';
            $("#loadPartial").load(url);
        });
        $("#department").click(function () {
            var url= '@Url.Action("Index", "Department")';
            $("#loadPartial").load(url);
        });
        $("#doctor").click(function () {
            var url= '@Url.Action("Doctors", "Doctor")';
            $("#loadPartial").load(url);
        });
        $("#patient").click(function () {
            var url= '@Url.Action("Patients", "Patient")';
            $("#loadPartial").load(url);
        });
        $("#ccordinator").click(function () {
            var url= '@Url.Action("CCordinators", "CCordinator")';
            $("#loadPartial").load(url);
        });
        $("#treatment").click(function () {
            var url= '@Url.Action("Treatment", "Treatment")';
            $("#loadPartial").load(url);
        });
        $("#transaction").click(function () {
            var url= '@Url.Action("Transaction", "Transaction")';
            $("#loadPartial").load(url);
        });
    });
</script>
<link href="~/Content/Deshboard.css" rel="stylesheet" />
